* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-color: #083f3f;
  padding-bottom: 100px;
}
.hero-section {
  margin-top: 100px;
  align-items: start;
  padding-left: 0;
  line-height: 25px;
}
.hero-section h1 {
  font-size: 60px;
}
.hero-cards {
  padding-right: 0px;
  border: 1px solid white;
  border-radius: 55px;
  margin-left: 20px;
}
.hero-img img {
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  position: relative;
}
.subject-card img {
  position: absolute;
  bottom: -300px;
  right: 10px;
  animation: moveUP 1.5s ease-out;
}
@keyframes moveUP {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.about-section {
  margin-top: 150px;
}
.hero-card1 {
  width: 100%;
  position: relative;
}
.hero-card1 img {
  border-radius: 200px;
}
.hero-card2 {
  position: absolute;
  bottom: 20px;
  right: 30px;
}
.hero-card2 img {
  width: 220px;
  height: 300px;
  border-radius: 200px;
  border: 5px solid white;
}
.about-section h1 {
  font-size: 50px;
}
.services-section {
  background-color: #e7fdfb;
  padding-left: 20px;
  margin-top: 100px;
  padding-top: 50px;
}
.services-section h1 {
  font-size: 50px;
}
.service-data {
  background-color: #083f3f;
}
.services-cards {
  margin-top: 500px;
}
.project-section {
  margin-top: 100px;
}
.project-section h1 {
  font-size: 50px;
}
.project-card {
  overflow: hidden;
  position: relative;
  border-radius: 15px;
}
.card-content {
  position: absolute;
  left: 0;
  bottom: -150px;
  width: 100%;
  transition: 0.5s ease;
  background-color: white;
}
.project-card:hover .card-content {
  bottom: 0;
}
.slick-prev:before,
.slick-next:before {
  color: #198754 !important;
}

.business-section {
  background-color: #e7fdfb;
  margin-top: 100px;
  padding-top: 50px;
}
.business-section h1 {
  font-size: 50px;
}
.progressbar1 {
  align-items: center;
  width: 80%;
}
.progressbar2 {
  align-items: center;
  width: 75%;
}
.progressbar3 {
  align-items: center;
  width: 90%;
}
.business-card {
  background-color: #083f3f;
  margin-top: 50px;
  position: relative;
  bottom: -100px;
}
.pricing-section{
    margin-top: 200px;
}
.pricing-cards{
    background-color: #e7fdfb;
}
.pricing-content{
    line-height: 40px;
    background-color: white;
}
.pricing-card1{
    background-color: #083f3f;
}
.brand-section{
    background-color: #083f3f;
    margin-top: 100px;
    padding-bottom: 30px;
}
.testinomials-section{
    margin-top: 100px;
}
.testinomials-card{
    background-color: #e7fdfb;
    border: 1px solid lightgray;
}
.blog-section{
    padding-left: 20px;
    margin-top: 100px;
    padding-top: 80px;
    background-color: #e7fdfb;
    padding-bottom: 100px;
}
.blog-section h1{
    font-size: 60px;
}
.footer{
    background-color: #083f3f;
}
.footer-card{
    line-height: 40px;
}